body{
    background-color: #accfe3;

    .bird{
        position: relative;
        top: 0;
        left: 0;
        transition: left 0.2s ease-in-out;
        width: 300px;
        z-index: 10;
        img{
            width: 100%;
        }
        &.bird-active{
            transform: rotateY(-180deg);
        }

        .bird-egg{
            width: 30px;
            position: absolute;
            left: 120px;
            bottom: 24px;
            
            z-index: 10;
        }
    }

    .bird-basket{
        width: 220px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        transition: left 0.4s ease-in-out;
        img{
            width: 100%;
        }

        .bird-egg{
            width: 30px;
           position: absolute;
           left: 63%;
           transform: translateX(-50%);
           top: -14px;
           height: 50px;
        }
    }

    @keyframes birdAni {
        from{
            bottom: 0;
        }
        to{
            bottom: -70vh;
        }
    }


    p{
        position: absolute;
        right: 40px;
        top: 40px;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.692);
        border: 5px solid rgb(20, 20, 73);
        font-size: 30px;
    }
}
    
